:global {
  body {
    background-color: #f2f2f2;
    font-family: 'Lato';
    text-align: center;
  }

  h2 {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .content {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  .header {
    margin: 0 0 50px 0;
  }

  .toggleButton {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #66BB6A;
    border-radius: 25px;
  }

  .toggleButton:hover {
    cursor: pointer;
  }

  .toggleButtonText {
    line-height: 50px;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
  }
}
